body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

.container {
    display: flex;
    height: 100vh;
    width: 1152px;
    height: 700px;
    background-color: #FAA307;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
}

.block {
    display: flex;
    width: 273px;
    height: 220px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    margin: 20px;
}

.blackblock {
    background-color: #03071E;
}

.redblock {
    background-color: #6A040F;
}

.circles {
    width: 50px;
    height: 50px;
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 10px;
}

.block1 {
    flex-wrap: wrap;
}

.block2 {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.block3 {
    flex-wrap: wrap;
    justify-content: space-around;
}

.block3__circle4, .block3__circle5, .block3__circle6 {
    align-self: flex-end;
}

.block4 {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.block5 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
