body {
    background-color: #370617;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rectangle {
    display: flex;
    width: 468px;
    height: 160px;
    margin: 20px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.squares {
    display: flex;
    margin: 10px;
    width: 78px;
    min-height: 78px;
    background: #9D0208;
    border-radius: 4px;
}

.rectangle__box1 {
    align-items: flex-end;
}

.rectangle__box2 {
    justify-content: center;
}

.rectangle__box3 {
    justify-content: flex-end;
    align-items: center;
}

.rectangle__box4 {
    justify-content: space-between;
    align-items: flex-start;
}

.square3__box4 {
    align-self: flex-end;
}

.rectangle__box5 {
    justify-content: space-evenly;
    color: #ffff;
}

.square__box5 {
    justify-content: center;
    align-items: center;
}

.square2__box5 {
    align-self: center;
}

.rectangle__box6 {
    justify-content: center;
    align-items: center;
}

.square2__box6 {
    flex-grow: 0.5;
}